# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/

# Node.js
# attention: .gitignore in frontend and backend directories will be more specific
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*
.npm/
.nyc_output/
.pnp/
.pnp.js
.pnp.cjs
.prettierrc.local
.test-results/
.yarn/
coverage/